# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Mathis Brüchert <mbb-mail@gmx.de>
[Desktop Entry]
Name=marknote
Name[ca]=marknote
Name[ca@valencia]=marknote
Name[de]=marknote
Name[en_GB]=marknote
Name[es]=marknote
Name[fr]=marknote
Name[gl]=marknote
Name[it]=marknote
Name[ka]=marknote
Name[nl]=marknote
Name[pl]=marknote
Name[pt]=Marknote
Name[sl]=marknote
Name[tr]=MarkNot
Name[uk]=marknote
Name[x-test]=xxmarknotexx
Comment=Markdown Note Management Tool
Comment[ca]=Eina de gestió de notes del Markdown
Comment[ca@valencia]=Eina de gestió de notes de Markdown
Comment[de]=Notizenverwaltung in Markdown
Comment[en_GB]=Markdown Note Management Tool
Comment[es]=Herramienta de gestión de notas en markdown
Comment[fr]=Outil de gestion de notes « Markdown »
Comment[gl]=Ferramenta de xestión de notas en Markdown
Comment[it]=Strumento di gestione delle note Markdown
Comment[ka]=Markdown-ის შენიშვნების მართვის პროგრამა
Comment[nl]=Beheerhulpmiddel voor Markdown Note
Comment[pl]=Narzędzie zarządzania notatkami Markdown
Comment[pt]=Ferramenta de Gestão de Notas em Markdown
Comment[sl]=Orodje za vzdrževanje opomb markdown
Comment[tr]=Markdown Not Yönetimi Aracı
Comment[uk]=Інструмент керування нотатками на основі Markdown
Comment[x-test]=xxMarkdown Note Management Toolxx
Version=1.0
Exec=marknote
Icon=org.kde.marknote
Type=Application
Terminal=false
# Add an actual main category here (and possibly applicable additional ones)
#   https://specifications.freedesktop.org/menu-spec/latest/apa.html#main-category-registry
Categories=Qt;KDE;
