# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Mathis Brüchert <mbb-mail@gmx.de>
[Desktop Entry]
Name=Marknote
Name[ca]=Marknote
Name[eo]=Marknote
Name[es]=Marknote
Name[fr]=Marknote
Name[he]=Marknote
Name[nl]=Marknote
Name[sl]=Marknote
Name[tr]=Marknot
Name[uk]=Marknote
Name[x-test]=xxMarknotexx
Comment=Markdown Note Management Tool
Comment[ca]=Eina de gestió de notes feta amb el Markdown
Comment[ca@valencia]=Eina de gestió de notes en Markdown
Comment[de]=Notizenverwaltung in Markdown
Comment[en_GB]=Markdown Note Management Tool
Comment[eo]=Markdown-Nota Mastrumilo
Comment[es]=Herramienta de gestión de notas en markdown
Comment[eu]=«Markdown»ekin oharrak kudeatzeko tresna
Comment[fi]=marknote – muistiinpanojen hallintatyökalu
Comment[fr]=Outil de gestion de notes « Markdown »
Comment[gl]=Ferramenta de xestión de notas en Markdown.
Comment[he]=כלי לניהול פתקיות ב־Markdown
Comment[ia]=Instrumento de gestion de notas Markdown
Comment[it]=Strumento di gestione delle note Markdown
Comment[ka]=Markdown-ის შენიშვნების მართვის პროგრამა
Comment[ko]=Markdown 노트 관리 도구
Comment[lv]=Piezīmju pārvaldības rīks ar „Markdown“ atbalstu
Comment[nl]=Beheerhulpmiddel voor Markdown Note
Comment[nn]=Markdown-basert notatverktøy
Comment[pl]=Narzędzie zarządzania notatkami Markdown
Comment[pt]=Ferramenta de Gestão de Notas em Markdown
Comment[pt_BR]=Ferramenta para gerenciamento de notas em Markdown
Comment[ro]=Unealtă de gestionat note Markdown
Comment[sl]=Orodje za vzdrževanje opomb markdown
Comment[sv]=Markdown anteckningshanteringsverktyg
Comment[tr]=Markdown Not Yönetimi Aracı
Comment[uk]=Інструмент керування нотатками на основі Markdown
Comment[x-test]=xxMarkdown Note Management Toolxx
Comment[zh_TW]=Markdown 筆記管理工具
Version=1.0
Exec=marknote
Icon=org.kde.marknote
Type=Application
Terminal=false
Categories=Qt;KDE;Utility
