# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Mathis Brüchert <mbb-mail@gmx.de>
[Desktop Entry]
Name=marknote
Name[ca]=marknote
Name[ca@valencia]=marknote
Name[cs]=marknote
Name[de]=marknote
Name[en_GB]=marknote
Name[eo]=marknote
Name[es]=marknote
Name[eu]=marknote
Name[fi]=marknote
Name[fr]=MarkNote
Name[gl]=marknote
Name[it]=marknote
Name[ka]=marknote
Name[ko]=marknote
Name[nl]=marknote
Name[nn]=marknote
Name[pl]=marknote
Name[pt]=Marknote
Name[sl]=marknote
Name[sv]=marknote
Name[tr]=MarkNot
Name[uk]=marknote
Comment=Markdown Note Management Tool
Comment[ca]=Eina de gestió de notes feta amb el Markdown
Comment[ca@valencia]=Eina de gestió de notes en Markdown
Comment[de]=Notizenverwaltung in Markdown
Comment[en_GB]=Markdown Note Management Tool
Comment[eo]=Markdown-Nota Mastrumilo
Comment[es]=Herramienta de gestión de notas en markdown
Comment[eu]=«Markdown»ekin oharrak kudeatzeko tresna
Comment[fi]=marknote – muistiinpanojen hallintatyökalu
Comment[fr]=Outil de gestion de notes « Markdown »
Comment[gl]=Ferramenta de xestión de notas en Markdown.
Comment[it]=Strumento di gestione delle note Markdown
Comment[ka]=Markdown-ის შენიშვნების მართვის პროგრამა
Comment[ko]=Markdown 노트 관리 도구
Comment[nl]=Beheerhulpmiddel voor Markdown Note
Comment[nn]=Markdown-basert notatverktøy
Comment[pl]=Narzędzie zarządzania notatkami Markdown
Comment[pt]=Ferramenta de Gestão de Notas em Markdown
Comment[sl]=Orodje za vzdrževanje opomb markdown
Comment[sv]=Markdown anteckningshanteringsverktyg
Comment[tr]=Markdown Not Yönetimi Aracı
Comment[uk]=Інструмент керування нотатками на основі Markdown
Version=1.0
Exec=marknote
Icon=org.kde.marknote
Type=Application
Terminal=false
Categories=Qt;KDE;Utility
