// SPDX-FileCopyrightText: 2026 Valentyn Bondarenko <bondarenko@vivaldi.net>
// SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Marknote
Name[ar]=دفتر مارك
Name[ca]=Marknote
Name[ca@valencia]=MarkNote
Name[cs]=Marknote
Name[da]=Marknote
Name[de]=Marknote
Name[en_GB]=Marknote
Name[eo]=Marknote
Name[es]=Marknote
Name[eu]=Marknote
Name[fi]=Marknote
Name[fr]=MarkNote
Name[gl]=Marknote
Name[he]=Marknote
Name[hi]=मार्कनोट
Name[ia]=Marknote
Name[is]=Marknote
Name[it]=Marknote
Name[ka]=Marknote
Name[ko]=Marknote
Name[lv]=Marknote
Name[nl]=Marknote
Name[nn]=Marknote
Name[pa]=ਮਾਰਕਨੋਟ
Name[pl]=Marknote
Name[pt_BR]=Marknote
Name[ro]=Marknote
Name[ru]=Marknote
Name[sa]=मार्कनोट्
Name[sl]=Marknote
Name[sv]=Marknote
Name[tr]=Marknot
Name[uk]=Marknote
Name[zh_TW]=Marknote
Comment=Search for notebooks
Comment[ar]=البحث عن دفاتر الملاحظات
Comment[ca]=Cerca blocs de notes
Comment[ca@valencia]=Busca blocs de notes
Comment[es]=Buscar libro de notas
Comment[fr]=Rechercher des carnets
Comment[he]=חיפוש מחברות
Comment[ia]=Cerca quadernos
Comment[it]=Cerca taccuini
Comment[ka]=წიგნაკების ძებნა
Comment[nl]=Zoeken naar notitieboeken
Comment[pt_BR]=Pesquisar por notas
Comment[sl]=Iskanje zvezkov
Comment[tr]=Defterleri arayın
Comment[uk]=Пошук нотатників
Comment[zh_TW]=尋找筆記本
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=org.kde.marknote
X-Plasma-API=DBus
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=Marknote
X-KDE-PluginInfo-Author=Valentyn Bondarenko
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPLv2
X-Plasma-DBusRunner-Service=org.kde.marknote
X-Plasma-DBusRunner-Path=/NotebookRunner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=1
X-Plasma-Runner-Syntaxes=:q:
X-Plasma-Runner-Syntax-Descriptions=Search for notebooks
X-Plasma-Runner-Syntax-Descriptions[ar]=البحث عن دفاتر الملاحظات
X-Plasma-Runner-Syntax-Descriptions[ca]=Cerca blocs de notes
X-Plasma-Runner-Syntax-Descriptions[ca@valencia]=Busca blocs de notes
X-Plasma-Runner-Syntax-Descriptions[es]=Buscar libro de notas
X-Plasma-Runner-Syntax-Descriptions[fr]=Rechercher des carnets
X-Plasma-Runner-Syntax-Descriptions[he]=חיפוש מחברות
X-Plasma-Runner-Syntax-Descriptions[ia]=Cerca quadernos
X-Plasma-Runner-Syntax-Descriptions[it]=Cerca taccuini
X-Plasma-Runner-Syntax-Descriptions[ka]=წიგნაკების ძებნა
X-Plasma-Runner-Syntax-Descriptions[nl]=Zoeken naar notitieboeken
X-Plasma-Runner-Syntax-Descriptions[pt_BR]=Pesquisar por notas
X-Plasma-Runner-Syntax-Descriptions[sl]=Iskanje zvezkov
X-Plasma-Runner-Syntax-Descriptions[tr]=Defterleri arayın
X-Plasma-Runner-Syntax-Descriptions[uk]=Пошук нотатників
X-Plasma-Runner-Syntax-Descriptions[zh_TW]=尋找筆記本
